################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Eaven.Ven.Application/obj
/Eaven.Ven.Aliyun/bin/Debug/netcoreapp3.1
/Eaven.Ven.Aliyun/obj
/Eaven.Ven.Application/bin/Debug/netcoreapp3.1
/Eaven.Ven.Caching/bin/Debug/netcoreapp3.1
/Eaven.Ven.Caching/obj
/Eaven.Ven.Core/bin/Debug/netcoreapp3.1
/Eaven.Ven.Domain/bin/Debug/netcoreapp3.1
/Eaven.Ven.Domain/obj
/Eaven.Ven.Elasticsearch/bin/Debug/netcoreapp3.1
/Eaven.Ven.Elasticsearch/obj
/Eaven.Ven.Emailing/bin/Debug/netcoreapp3.1
/Eaven.Ven.Emailing/obj
/Eaven.Ven.EntityFramework.DbMigrations/bin/Debug/netcoreapp3.1
/Eaven.Ven.EntityFramework.DbMigrations/obj
/Eaven.Ven.EntityFrameworkContext/bin/Debug/netcoreapp3.1
/Eaven.Ven.EntityFrameworkContext/obj
/Eaven.Ven.EntityFrameworkCore.MongoDb/obj/Debug/netcoreapp3.1
/Eaven.Ven.EntityFrameworkCore.Oracle/bin/Debug/netcoreapp3.1
/Eaven.Ven.EntityFrameworkCore.Oracle/obj
/Eaven.Ven.EntityFrameworkCore.PostgreSql/bin/Debug/netcoreapp3.1
/Eaven.Ven.EntityFrameworkCore.PostgreSql/obj
/Eaven.Ven.EntityFrameworkCore.MongoDb/bin/Debug/netcoreapp3.1
/Eaven.Ven.Minio/bin/Debug/netcoreapp3.1
/Eaven.Ven.Minio/obj
/Eaven.Ven.Qiniu/bin/Debug/netcoreapp3.1
/Eaven.Ven.Qiniu/obj
/Eaven.Ven.Quartz/bin/Debug/netcoreapp3.1
/Eaven.Ven.Quartz/obj
/Eaven.Ven.RabbitMQ/bin/Debug/netcoreapp3.1
/Eaven.Ven.RabbitMQ/obj
/Eaven.Ven.Redis/bin/Debug/netcoreapp3.1
/Eaven.Ven.Redis/obj
/Eaven.Ven.Socket/bin/Debug/netcoreapp3.1
/Eaven.Ven.Socket/obj
/Eaven.Ven.WebApi/bin/Debug/net5.0
/Eaven.Ven.WebApi/obj
/Eaven.Ven.Core/obj/Debug/netcoreapp3.1
/Eaven.Ven.Aliyun/bin/Debug/net5.0
/Eaven.Ven.Application/bin/Debug/net5.0
/Eaven.Ven.Caching/bin/Debug/net5.0
/Eaven.Ven.Core/bin/Debug/net5.0
/Eaven.Ven.Domain/bin/Debug/net5.0
/Eaven.Ven.Elasticsearch/bin/Debug/net5.0
/Eaven.Ven.Emailing/bin/Debug/net5.0
/Eaven.Ven.EntityFramework.DbMigrations/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkContext/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.MongoDb/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.MongoDb/obj/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.Oracle/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.PostgreSql/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.SqlServer/bin/Debug/net5.0
/Eaven.Ven.EntityFrameworkCore.SqlServer/obj/Debug/net5.0
/Eaven.Ven.Minio/bin/Debug/net5.0
/Eaven.Ven.Qiniu/bin/Debug/net5.0
/Eaven.Ven.Quartz/bin/Debug/net5.0
/Eaven.Ven.RabbitMQ/bin/Debug/net5.0
/Eaven.Ven.Redis/bin/Debug/net5.0
/Eaven.Ven.Socket/bin/Debug/net5.0
/Eaven.Ven.Gateway/bin/Debug/net5.0
/Eaven.Ven.Gateway/obj
/Eaven.Ven.Host/bin/Debug/net5.0
/Eaven.Ven.Host/obj
